<!DOCTYPE html>
<html lang="en" ng-app="myModu2">
  <head>
    <title>teacher</title>
    
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div ng-controller="teacher_ctr">
           <table class="table table-hover bg-dark text-white table-stripped
           table-bordered">
             <thead>
              <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Qualification</th>
               
              </tr>
             </thead>
             <tbody>
              <tr ng-repeat="teacher in teachers">
                <td>
                    {{teacher.name}}
                </td>
                <td>
                  {{teacher.age}}
              </td>
              <td>
                {{teacher.qualification}}
            </td>
              </tr>
             </tbody>
           </table>
    </div>
  </body>
</html>